/.bash_history
/.bash_logout
/.bashrc
/.cache
/.config
/.dotnet
/.grit
/.lesshst
/.local
/.profile
/.pvpn-cli
/.selected_editor
/.sqlite_history
/.ssh
/.sudo_as_admin_successful
/.vscode-server
/.wget-hsts
/.zshrc
/backtesting_operation.log
/backup_pre_migration
/librespeed-venv
/market_data.db
/meloday
/meloday.log
/music
/myenv
/nohup.out
/pyBsky.py
/random_cron_scheduler.py
/script_pid.txt
/speedtest-env
/speedtest-librespeed
/spot_operation.log
/trader.py